<%- include('./partials/header'); %>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 large-el">
      <div class="bs-example">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object img-thumbnail" src="http://fillmurray.com/50/50" alt="user">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Your Name</h4> @username
          </div>
          <h5>Messages</h5>
          <h4>12</h4>
        </div>
      </div>

      <div class="bs-example">
        <h4>Trending Moos</h4>
        <p>#moo</p>
        <p>#sohotinhere</p>
        <p>#turnontheAC</p>
        <p>#goawaysun</p>
      </div>
    </div>


    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <!-- User Entry -->
      <form class="bs-example" action="/dash" method="post">
        <input class="" type="text" name="username" placeholder="Username">
        <textarea class="form-control" name="newEntry" maxlength="255"></textarea>
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <!-- Other people-->
      <%if(tweets) { %>
      <% for(let tweet of tweets) { %>
      <% let username = tweet[0]; %>
      <% let entry = tweet[1]; %>
      <% let date = tweet[2]; %>
      <div class="bs-example">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-thumbnail" src="http://fillmurray.com/50/50" alt="user">
              </a>
            </div>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10">
            <h5>@<%= username %></h5>
            <p><%= entry %></p>
            <p class="text-right">Posted: <%= date %></p>
          </div>
        </div>
      </div>
      <% } %>
      <% } %>

      
    </div>
  </div>
</div>
<%- include('./partials/footer'); %>
